@model NtkAuthViewModel
@{
    ViewData["Title"] = "Notakey Auth request";
}

@section Scripts {
    <script type="text/javascript">

	    function AuthResponse(status){
            switch(status) {
                case 'pending':
                    CallWaitForAuth();
                    break;
                case 'ok':
                    location.reload();
                    break;
                case 'reject':
                    // redirect back to login form 
                    $("#lblErrorMessage").html('Auth request rejected by user, click <a href="/Account/Login"> here </a> to try again.');
	                $('#imgProgressIndication').hide(); 
                    break;
                case 'timeout':
                    // redirect back to login form 
                    $("#lblErrorMessage").html('Auth request expired before approval, click <a href="/Account/Login"> here </a> to try again.');
	                $('#imgProgressIndication').hide(); 
                    break;
                default:
                    // redirect back to login form 
                    // unknown state
                    $("#lblErrorMessage").html('Invalid auth state, please try again, click <a href="/Account/Login"> here </a> to try again.');
	                $('#imgProgressIndication').hide(); 
                   
                
            }
	    }
	
        function CallWaitForAuth() {
	        var token = $('input[name="__RequestVerificationToken"]', $('#authState')).val();
            var uuid = { Uuid: $("#uuid").val() };
            var dataWithAntiforgeryToken = $.extend(uuid, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/Account/NtkAuthState",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (state) {
                    AuthResponse(state.status);
                    },
                error: function () {
                    $("#lblErrorMessage").html('Error occured during jQuery processing');
                    }
            });
        }

        $( document ).ready( CallWaitForAuth );
	
    </script>
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-8">
        Authentication request created. Please proceed on your mobile device. 
		
    </div>
	<div class="col-md-8">
        <img id="imgProgressIndication" src="/loadingAnimation.gif" />
		<div id="lblErrorMessage"></div>
    </div>
	<div class="col-md-8">
		<form asp-controller="Account" asp-action="NtkAuthState" id="authState" method="post">
    		@Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Uuid" name="uuid" id="uuid"/>
		</form>
    </div>
</div>
