@{
    ViewData["Title"] = "Login failed";
}

<header>
    <h1 class="text-danger">2FA verification failed</h1>
    <p class="text-danger">The AuthRequest failed or timed out, please, try to log in again.</p>
</header>
